.menu {
    display: flex;
 
 height: 10vh;
 
  }
  .buttons {
    display: flex;
    justify-content: right;
    align-items: center;
 height: 10vh;
 
  }
  .menu button {
    
    padding: 15px 30px;
    font-size: 18px;
   
    margin-right: 5vh; /* Sağ tarafta ekstra 20px boşluk */
  }
  .menu .logo{
    display: flex;
    justify-content: left;
  }